APP_ENV=dev
PARFOCAL_PUBLIC_APP_ENV=dev
DATABASE_URL=postgresql://parfocal_app@localhost:6432/parfocal
MIGRATION_DATABASE_URL=postgresql://parfocal@localhost:5432/parfocal

R2_ACCOUNT_ID=ecd7fda10e3d9ff42ecc86cb43073fcd
R2_BUCKET=parfocal-dev
R2_ENDPOINT=https://ecd7fda10e3d9ff42ecc86cb43073fcd.r2.cloudflarestorage.com
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=

ZITADEL_ISSUER=https://parfocal-iqcyh5.eu1.zitadel.cloud
ZITADEL_CLIENT_ID=
ZITADEL_CLIENT_SECRET=

CLOUDFLARE_API_TOKEN=
TF_VAR_state_passphrase=

PARFOCAL_FIXTURES_LOCAL=
